<button type="button" onclick="function() {
  $('html,body').animate({
      scrollTop: $(\"Education").offset().top},
      'slow');">Education</button>
<button type="button" onclick="function() {
$('html,body').animate({
    scrollTop: $(\"Music").offset().top},
    'slow');
}">Music</button>
<button type="button" onclick="function() {
$('html,body').animate({
  scrollTop: $(\"Art").offset().top},
  'slow');
}">Art</button>
<button type="button" onclick="function() {
$('html,body').animate({
scrollTop: $(\"Contact").offset().top},
'slow');
}">Contact</button>
